page-tabs {

}
.tab-item-active {
    background-color:green !important;
} 
.tabs-md .tab-button[aria-selected=true]  {
    color: white !important;
    background-color: red;
  }
  .tabs-md .tab-button[aria-selected=true] .tab-button-icon {
    color: white!important;
  }
  .tabs-ios .tab-button[aria-selected=true] .tab-button-icon {
    color: white!important;
  }